mat-card {
  width: 300px;
  padding: 30px;
  cursor: pointer;
}

mat-icon {
  transform: scale(2);
}

mat-card-footer {
  font-size: 12pt;
  font-weight: normal;
}

.menu-cards {
  margin-top: 5pt;
}
